<div class="container-fluid">

  <div ng-include="'components/navbar/navbar.html'"></div>

  <div class="jumbotron text-center">
    <h3>Where to?</h3>
    <p class="lead">
      <form role="form" class="form-inline">
        <div class="form-group">
          <div class="input-group">
            <input class="form-control input-lg" placeholder="http://" type="text" id="locationUrl" ng-model="url" ng-blur="urlParse()"/>
            <span class="input-group-addon" ng-click="keyboardToggle()"><i class="fa fa-keyboard-o"></i></span>
            <span class="input-group-btn"><button type="button" class="btn btn-success btn-lg" ng-click="navigate()">Go!</button></span>

          </div>
        </div>
      </form>
      <div class="row">
        <div class="container keyboard" ng-class="{true: 'open', false: 'closed'}[keyboadIsShowing]">
          <div class="keyboard-row" ng-repeat="row in keyboard">
            <button type="button" class="key btn" ng-repeat="key in row" ng-click="typekey(key.key)" ng-class="{true:key.class, false:'btn-default'}[key.class.length > 0]">{{::key.key}}</button> 
          </div>
        </div>
      </div>
    </p>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2" data-browser-info>
        <div role="tabpanel">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#navigator" aria-controls="navigator" role="tab" data-toggle="tab">Navigator</a></li>
            <li role="presentation"><a href="#memory" aria-controls="memory" role="tab" data-toggle="tab">Memory</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="navigator">  
              <table class="table table-condensed table-striped">
                <tr ng-repeat="(key, val) in ::info.navigator">
                  <td><strong>{{::key}}</strong></td>
                  <td>{{::val}}</td>
                </tr>
              </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="memory">
              <table class="table table-condensed table-striped">
                  <tr ng-repeat="(key, val) in info.memory">
                    <td><strong>{{::key}}</strong></td>
                    <td>{{::val}}</td>
                  </tr>
                </table>
            </div>
          </div>

      </div>
    </div>
  </div>

  <hr>
  <p class="text-center"><span class="fa fa-beer"></span> Crafted by @limitlis.</p>

</div>
